* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Permanent Marker';
  background-color: #f2f2f2; }

.container {
  padding: 1.2rem;
  overflow: hidden;
  background-color: #fe4a49; }
  .container h1 {
    float: left;
    margin-left: 10%;
    color: #fff; }
  .container ul {
    list-style-type: none;
    font-size: 1.2rem;
    margin-left: 60%; }
