* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Permanent Marker";
  background-color: #f2f2f2;
}

.container {
  padding: 1.2rem;
  overflow: hidden;
  background-color: #fe4a49;

  h1 {
    float: left;
    margin-left: 10%;
    color: #fff;
  }

  ul {
    list-style-type: none;
    font-size: 1.2rem;
    margin-left: 60%;
    span {
      color: #fff;
      text-decoration: none;
    }
  }

  li {
    margin-top: 0.8rem;
    float: left;
    padding: 0 1.2rem;
  }

  .current span::after {
    content: "_";
    background-color: #fff;
    font-size: 0.4rem;
    display: block;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 82% 18%;

  .equation {
    font-size: 5rem;
    background-color: #fff;
    border-radius: 0.18rem;
    text-align: center;
    padding-top: 10rem;
    margin: 0.8rem 0.8rem 0 0.8rem;

    h1 {
      display: inline;
      padding: 1.25rem;
    }
  }

  .answer_options {
    font-size: 4.188rem;
    margin-right: 0.625rem;

    h1 {
      cursor: pointer;
      color: #fff;
      border-radius: 0.188rem;
      margin-top: 0.625rem;
      text-align: center;
      width: 100%;
    }

    #option1 {
      background-color: #fabeb5;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #fabeb5;
      }
    }

    #option2 {
      background-color: #b5d9fa;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #b5d9fa;
      }
    }

    #option3 {
      background-color: #afff92;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #afff92;
      }
    }
  }
}