* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Permanent Marker";
  background-color: #f2f2f2;
}

.container {
  padding: 1.2rem;
  overflow: hidden;
  background-color: #fe4a49;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.2rem;

    span {
      color: #fff;
      text-decoration: none;
    }
  }

  li {
    margin-top: 0.8rem;
    float: left;
    padding: 0 1.2rem;
    cursor: pointer;
  }

  .current{
    background-color: #fabeb5;
    border-radius: 50%;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .equation {
    font-size: 5rem;
    background-color: #fff;
    border-radius: 0.18rem;
    text-align: center;
    padding-top: 10rem;
    margin: 0.8rem 0.8rem 0 0.8rem;
    width: 75%;

    h1 {
      display: inline;
      padding: 1.25rem;
    }
  }

  .answer_options {
    font-size: 4.188rem;
    margin-right: 0.625rem;
    width: 25%;

    h1 {
      cursor: pointer;
      color: #fff;
      border-radius: 0.188rem;
      margin-top: 0.625rem;
      text-align: center;
      width: 100%;
    }

    #option1 {
      background-color: #fabeb5;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #fabeb5;
      }
    }

    #option2 {
      background-color: #b5d9fa;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #b5d9fa;
      }
    }

    #option3 {
      background-color: #afff92;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #afff92;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .equation {
      width: 100%;
      font-size: 3.4rem;
      padding: 0;
    }

    .answer_options {
      width: 100%;
      font-size: 3rem;
    }
  }
}
