* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Permanent Marker";
  background-color: #f2f2f2;
}

.container {
  padding: 1.2rem;
  overflow: hidden;
  background-color: #fe4a49;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.2rem;

    span {
      color: #fff;
      text-decoration: none;
    }
  }

  li {
    margin-top: 0.8rem;
    float: left;
    padding: 0 1.2rem;
    cursor: pointer;
  }

  .current {
    background-color: #fabeb5;
    border-radius: 50%;
  }

  h1 {
    margin-bottom: 0.8rem;
    text-decoration: underline;
  }

  #points {
    color: #fff;
    font-size: 1.2rem;
  }

  #achis {
    height: 1.2rem;
    cursor: pointer;
    color: #fff;

    .achis_holder {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      z-index: 1;
      width: 75%;
      height: 70%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      padding-top: 60px;

      .achis_item {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 20%;
        padding: 20px;
        text-align: center;
        position: relative;
        border-radius: 10px;
      }

      .receive_achi {
        background-color: yellowgreen;
      }
    }

    .show {
      display: block;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .equation {
    font-size: 5rem;
    background-color: #fff;
    border-radius: 0.18rem;
    text-align: center;
    padding-top: 10rem;
    margin: 0.8rem 0.8rem 0 0.8rem;
    width: 75%;

    h1 {
      display: inline;
      padding: 1.25rem;
    }
  }

  .answer_options {
    font-size: 4.188rem;
    margin-right: 0.625rem;
    width: 25%;

    h1 {
      cursor: pointer;
      color: #fff;
      border-radius: 0.188rem;
      margin-top: 0.625rem;
      text-align: center;
      width: 100%;

      &.wrong {
        animation: shake 1s;
        animation-iteration-count: infinite;
        background-color: red !important;

        @keyframes shake {
          0% {
            transform: translate(1px, 2px) rotate(0deg);
          }

          10% {
            transform: translate(-1px, -2px) rotate(-1deg);
          }

          20% {
            transform: translate(-3px, 0px) rotate(1deg);
          }

          30% {
            transform: translate(3px, 2px) rotate(0deg);
          }

          40% {
            transform: translate(1px, -1px) rotate(1deg);
          }

          50% {
            transform: translate(-1px, 2px) rotate(-1deg);
          }

          60% {
            transform: translate(-3px, 1px) rotate(0deg);
          }

          70% {
            transform: translate(3px, 1px) rotate(-1deg);
          }

          80% {
            transform: translate(-1px, -2px) rotate(1deg);
          }

          90% {
            transform: translate(1px, 2px) rotate(0deg);
          }

          100% {
            transform: translate(1px, -2px) rotate(-1deg);
          }
        }

      }
    }

    #option1 {
      background-color: #fabeb5;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #fabeb5;
      }
    }

    #option2 {
      background-color: #b5d9fa;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #b5d9fa;
      }
    }

    #option3 {
      background-color: #afff92;
      transition: 0.8s;

      &:hover {
        background-color: #fff;
        color: #afff92;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .equation {
      width: 100%;
      font-size: 3.4rem;
      padding: 0;
    }

    .answer_options {
      width: 100%;
      font-size: 3rem;
    }
  }
}

@media (max-width: 428px) {
  .container {
    max-height: 13rem;
    #achis {
      height: 9rem;
    
    }
    .title_holder {
      h1 {
        font-size: 1.5rem;
      }
    }

    ul {
      li {
        span {
          font-size: 1rem;
        }
      }
    }
  }

  .wrapper {
    .equation {
      font-size: 2rem;
    }

    .answer_options {
      font-size: 2rem;
    }
  }
}